@media all and (max-width: 1024px){
    .form{
        width: 25rem;
        margin: 0 3rem;
    }
    
    div.TextoFale{
        font-size: 25px;
        
    }

    .popup{
        width: 40%;
        
    }

}

@media all and (max-width: 768px){
    div.faleConosco{
        flex-direction: column;
        height: 45rem;
        justify-content: center;
        align-items: center;
    }

    div.form{
        margin-top: 2rem;
        width: 25rem;
        order: 1;
    }

    textarea{
        height: 7rem;
        
    }

    div.TextoFale{
        text-align:center;
        font-size: 23px;   
    }

    .popup{
        width: 45%;
    }

    .vaisumir{
        display:none;
    }

    .vaichegar {
        display: flex;
        text-align: center;
        justify-content: center;
        padding: 0px;
        border-top: 1px solid #3b7863;
        border-bottom: 1px solid #3b7863;
        color: #fff;
        font-weight: 600;
        width: 100%;
        background-color: #49997d;
        margin: 0;
        font-size: 22px;
    }

    .footer-info{
        flex-direction: column;
        justify-content: center;
    }
    .contatos {
        justify-content: space-around;
    }
}

@media all and (max-width: 548px){
    div.TextoFale{
        width: 75%;          
        font-size: 20px;
              
    }

    div.form{
        margin-top: .2rem;
        width: 80%;
        order: 1;
    }

    .Topo nav {
        font-size: 13px;

    }

    .popup{
        width: 60%;
    }



}

@media all and (max-width: 451px){
    .topo nav a {
        padding: 0px 2px 10px 2px;
            
    }

    .topo .Container-topo {
        padding: 0;
        
    }

    .popup{
        width: 75%;
    }
}

@media all and (max-width: 360px){

    .popup{
        width: 95%;
    }

    div.faleConosco{
        flex-direction: column;
        height: 50rem;
        justify-content: center;
        align-items: center;
    }
        
    div.form{
        margin-top: .2rem;
        width: 75%;
        order: 1;
    }

    .Topo .Container-topo{
        padding: 0;
    }

    .descricao {
        display: flex;
        width: 100%;
        margin: 0 10px;
        align-items: center;
        /* justify-content: center; */
        flex-direction: column;
        text-align: center;
    }

    .miniatura-img {
        width: 80%;
    }


    /* pagina de quartos */

    .quartos-img{
        display: none;
    }

    @import "slide.css";

    .solteiroBGResponsivo{
        
        display: flex;
        flex-grow: 1;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        animation:  quartoSolteiro 10s ease 0s infinite alternate none; 
    }

    .solteiroBGResponsivo img{
        visibility: hidden;
    }

    .casalBGResponsivo{
        display: flex;
        flex-grow: 1;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        animation:  quartoCasal 20s ease 0s infinite alternate none; 
    }

    .casalBGResponsivo img{
        visibility: hidden;
    }

    .familiaBGResponsivo{
        display: flex;
        flex-grow: 1;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        animation:  quartoFamilia 30s ease 0s infinite alternate none; 
    }

    .familiaBGResponsivo img{
        visibility: hidden;
    }

    .titulo-box{
        text-align:center;

    }

    .titulo-box ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
        padding: 0;
        font-size: 12px;
        

    }

    .titulo-box ul li{
        text-align: center;
        

    }


}


